h1{
  font-weight: 500;
 }
/* header----------------------------------- */
header li:hover{
  background-color: lightgreen;
  opacity:0.7;
  transition: all 1s ease;
  transition: transform .6s;
}
header{
  background-color: rgba(255,255,255,.7);
  position: fixed;
  width:100%;
  z-index: 1000;
}
.header-container{
  float: right;
}
.header-list{
  display: flex;
}
.header-list li{
  cursor: pointer;
  padding:20px 10px;
}
/* header----------------------------------- */
/* header-img----------------------------------- */
.header-img::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,.1);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.header-img img{
  width:100%;
  height:auto;
}
.img-container{
  text-align: center;
  width:100%;
  position: absolute;
  top:53%;
  left:50%;
  transform: translate(-50%, -50%);
}
.header-img h1{
  color:white;
  font-size:70px;
  font-weight: bold;
}
@media screen and (max-width:860px) {
  .img-container{
    text-align: center;
    width:100%;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width:480px){
  .header-img h1{
    font-size: 30px;
  }
  .img-container{
    text-align: center;
    width:100%;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .header-img img{
    width:100%;
    height:300px;
  }
}
/* header-img----------------------------------- */
/* about----------------------------------- */
.about .container{
  margin:100px 0 100px 0;
  display: flex;
  justify-content: space-around;
 }
 .about-left{
   text-align: center;
   width:60%;
 }
 .about-left img{
   width:60%;
   height:auto;

 }
 .about-right{
   text-align: left;
   width:40%;
   margin-top:-10px;
   margin-right:80px;
 }
 .about-right h1{
   font-size:40px;
   margin-bottom:30px;

 }
 .about-right p{
   font-size:18px;
   margin-bottom:20px;
   line-height: 1.2em;
 }
 .about-right a{
   color: #007bff;
 }
 .about-right svg{
   width:60px;
 }
 @media screen and (max-width:860px) {

 }
 @media screen and (max-width:480px){
   .about-left img{
     display: none;
   }
   .about .container{
     display: block;
   }
   .about-right {
     margin:0 auto;
     width:50%;
   }
 }

/* about----------------------------------- */
/* work----------------------------------- */
.work{
  background-color: silver;
  background: url(img/img1/勉強2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.work h1{
  font-size:40px;
  padding-top:40px;
  margin-bottom: 20px;
  text-align: center;
}
.work p{
  text-align: center;
  margin-bottom:40px;
  font-size:20px;
}
.work .container{
  display: flex;
  justify-content: space-around;
  padding-bottom:70px;
}
.wrapper {
  width:26%;
  position: relative;
}
.wrapper img{
  width:100%;
  height:auto;
}
.wrapper .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0; /マスクを表示させない。１にすると表示される/
  -webkit-transition:	all 0.6s ease;
  transition: all 0.6s ease;
}
.wrapper .caption {
  font-size: 130%;
  color: #fff;
  padding-top: 160px;
  padding-left: 0px;
  text-align: left;
}
.wrapper:hover .mask{
  background-color: rgba(0,0,0,0.4);
  opacity: 1;
  padding-left:90px;
}
#work{
  padding-left:10px;
}
#work2{
  font-size: 15px;
  border-bottom: 3px solid rgba(218, 227, 218, 0.35);
}
@media screen and (max-width:860px) {

}
@media screen and (max-width:480px){
  .work .container{
    display: block;
  }
  .wrapper{
    margin:0 auto;
    width:80%;
    margin-bottom:30px;
  }
}
/* work----------------------------------- */
/* skills----------------------------------- */
.skills{
  display: flex;
  justify-content: space-around;
  padding-top:60px;
  padding-bottom: 60px;
 }
.web-skill{
  text-align: center;
  width:50%;
}
.skills h1{
  font-size:40px;
}
.skills h2{
  font-size:28px;
  padding-top:30px;
  font-weight: 500;
}
hr{
  width:60%;
  margin:0 auto;
  text-align: center;
  margin-bottom:35px;
}
.web-skill svg{
  color:red;
  width:17%;
  display: inline-block;
  margin:0 auto;
}
.web-skill p{
  width:50%;
  margin:0 auto;
  text-align: left;
  margin-top:30px;
}
.service{
  text-align: center;
  width:50%;
}
.service p{
  padding-bottom: 45px;
}
strong{
  color:red;
  padding-left:5px;
}

@media screen and (max-width:480px){
  .skills{
    display: block;
  }
  .web-skill{
    width:100%;
  }
  .service{
    width:100%;
    margin-top:60px;
  }
  .service p{
    padding-bottom:30px;
  }
}
/* skills----------------------------------- */
/* contact----------------------------------- */
.contact{
  background-color: #b0c4de;
  padding-bottom:70px;
}
.contact h1{
  font-size:40px;
  padding-top:40px;
  margin-bottom: 20px;
  text-align: center;
}
.contact p{
  text-align: center;
  font-size: 20px;
}
.contact a{
  color: #007bff;
}
.contact svg{
  width:60px;
}
.contact .container{
  text-align: center;
  margin:30px;
}
.contact .wrapper{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

.contact input,textarea{
  border:none;
  width:350px;
  border-radius: 4px;
  padding:0 20px;
  font-size: 19px;
}
.contact input{
  height:45px;
  margin-bottom:15px;
}
.contact textarea{
  height:130px;
  margin-bottom:70px;
  padding-top:5px;
}
.contact button{
  color: white;
  background-color: #17a2b8;
  border-radius: 4px;
  padding:10px 20px;
  width:100px;
  border:none;
  margin:0 auto;
  font-size:20px;
}
.contact button:hover{
  cursor: pointer;
  transition: all .4s ease;
}

@media (max-width:860px) {
  .wrapper input{

  }
}
/* contact----------------------------------- */
/* footer----------------------------------- */
footer{

}
footer p{
  padding:30px 0 30px 0;
  text-align: center;
  font-size:12px;
}
/* footer----------------------------------- */
